.navigation {
   overflow: hidden;
   background-color: #333;
   background-image: linear-gradient(to top, rgb(255, 0, 153), #06f0c9);
   width: 15%;
   height: 100vh;
}

.aside-links {
   display: block;
}
