/* header */
.header-list-item {
   float: left;
   color: #f2f2f2;
   text-align: center;
   margin: 33px 118px;
   text-decoration: none;
   font-size: 25px;
}
.header-list-item:hover {
   -webkit-transform: scale(1.5);
   -ms-transform: scale(1.5);
   transform: scale(1.5);
}

.aside-list-item {
   display: block;
   text-align: center;
   padding-top: 8.5vh;
   padding-bottom: 8.6vh;
   text-decoration: none;
   font-size: 2.5vh;
   background-color: #333;
   color: cyan;
   opacity: 1;
}
.aside-list-item:hover {
   color: white;
   opacity: 0.5;
}
